<!DOCTYPE html>
<html lang="ko">
<head>
	<title>회사소개 - PUBLIC ACTION</title>
<th:block th:replace="~{jewelry_include/script_public_1::head}"></th:block>
<th:block th:replace="~{jewelry_include/script_custom_js_css::custom_js_css}"></th:block>
</head>

<body>
<div id="skipnavi">
	<a href="#gnb">주메뉴 바로가기</a>
	<a href="#contents">본문 바로가기</a>
</div>

<div class="wrap">
	<header id="header">
		<h1 class="logo"><a href="/">AUTOMART</a></h1>
<th:block th:replace="~{jewelry_include/nav_public_1::nav}"></th:block>
		<div id="gnb_bg"></div>
	</header>
	<!-- //header -->
	<hr />

	<article id="container" class="container">
<th:block th:replace="~{jewelry_include/nav_location_public_1::navlocation_onedepth}"></th:block>

		<section id="contents" class="contents">
			<h3 class="tit_ty1">Welcome to Public Auction</h3>
			<div class="greeting_box">
				<p>인터넷의 큰시장! 국내 최대의 인터넷 자동차 공매 사이트 오토마트입니다.</p>

				<p>고객과 비즈니스 목표를 함께 하는 기업</p>

				<p>㈜오토마트는 '국내 최대의 인터넷 자동차 공매 사이트'의 목표 하에 고객이<br />
				감동할 수 있는 서비스를 제공하기 위해 최선을 다하고 있습니다.</p>

				<p>오토마트는 1999년 오프라인에서 진행되는 자동차공매를 1~2개 자치단체의 공매를<br />
				인터넷(On-Line)에서 진행한 이후 현재 1000여개 이상의 자치단체 및 4대보험,<br />
				공공기관, 할부/리스사의 공매를 오토마트 사이트를 통하여 공매를 진행하고<br /> 있습니다.</p>

				<p>앞으로 오토마트의 자동차공매는 공매진행기관과 입찰자에게 모두 이득이 될 수 있는<br />
				보다 나은 시스템을 구축할 수 있도록 최선의 노력을 경주할 것입니다.</p>

				<p class="name">(주)오토마트 대표이사 <strong>예영식</strong></p>

			</div>
		</section>
	</article>
	<!-- //container -->
	<hr />

	<th:block th:replace="~{jewelry_include/footer_public_1::footer}"></div>

</div>
</body>
</html>