<!DOCTYPE html>
<html lang="ko">
<head>
	<title>개인정보처리방침 - PUBLIC ACTION</title>
<th:block th:replace="~{jewelry_include/script_public_1::head}"></th:block>
<th:block th:replace="~{jewelry_include/script_custom_js_css::custom_js_css}"></th:block>
</head>

<body>
<div id="skipnavi">
	<a href="#gnb">주메뉴 바로가기</a>
	<a href="#contents">본문 바로가기</a>
</div>

<div class="wrap">
	<header id="header">
		<h1 class="logo"><a href="/">AUTOMART</a></h1>
<th:block th:replace="~{jewelry_include/nav_public_1::nav}"></th:block>
		<div id="gnb_bg"></div>
	</header>
	<!-- //header -->
	<hr />

	<article id="container" class="container">
<th:block th:replace="~{jewelry_include/nav_location_public_1::navlocation_onedepth}"></th:block>

		<section id="contents" class="contents">

			<h3 class="tit_ty1">개인정보처리방침</h3>
			<h4 class="tit_ty4">개인정보 수집 및 이용</h4>
			<div class="data_box2" style="height:543px;">
				<p> 1) 개인정보의 수집 및 이용목적
					</p>
				<p> 다음의 목적을 위하여 개인정보를 처리합니다. 처리하고 있는 개인정보는 다음의 목적 이외의 용도로는 이용되지 않으며, 이용 목적이 변경되는 경우에는 개인정보 보호법 제18조에 따라 별도의 동의를 받는 등 필요한 조치를 이행할 예정입니다.
					</p>
				<ol>
					<li>
						* 동산공매 입찰 서비스
						<br />공매 입찰서비스 제공 등을 목적으로 입찰정보를 공매 진행기관에 제공합니다.
						<br />입찰자 : 중복 및 부정입찰/거래 방지와 공매 결과에 따른 서류 작성을 위한 본인 확인
						<br />공매진행기관 : 자동차 공매 입찰 서비스 제공 등을 목적으로 입찰정보를 공매진행기관에 제공
					</li>
				</ol>
				<br />
				<p> 2) 수집하는 개인정보의 항목
					</p>
				<ol>
					<li>
						<ul>
							<li>필수항목 : 이름, 핸드폰 번호
							</li>
						</ul>
					</li>
				</ol>
				<br />
				<p> 3) 개인정보의 보유 및 이용기간
				</p>
				<ol>
					<li> 법령에 따른 개인정보 보유·이용기간 또는 정보주체로부터 개인정보를 수집시에 동의 받은 개인정보 보유·이용기간 내에서 개인정보를 처리·보유합니다.
						</li>
					<li> 각각의 개인정보 처리 및 보유 기간은 다음과 같습니다.
						<ul>
							<li>관련법령에 의한 정보보유 사유
								<dd>- 서비스 이용 관련 개인정보(로그인기록)
									<ul>
										<li>보존 근거 :「통신비밀보호법 제15조의2 및 시행령 제41조」
										</li>
										<li>보존 기간 : 3개월
										</li>
									</ul>
								</dd>
								<dd>- 전자금융 거래에 관한 기록
									<ul>
										<li>보존 근거 : 전자금융거래법
										</li>
										<li>보존 기간 : 5년
										</li>
									</ul>
								</dd>
								<dd>- 계약 또는 청약철회 등에 관한 기록
									<ul>
										<li>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률
										</li>
										<li>보존 기간 : 5년
										</li>
									</ul>
								</dd>
								<dd>- 대금결제 및 재화 등의 공급에 관한 기록
									<ul>
										<li>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률
										</li>
										<li>보존 기간 : 3년
										</li>
									</ul>
								</dd>
								<dd>- 소비자의 불만 또는 분쟁처리에 관한 기록
									<ul>
										<li>보존 근거 : 전자상거래 등에서의 소비자보호에 관한 법률
										</li>
										<li>보존 기간 : 5년
										</li>
									</ul>
								</dd>
							</li>
						</ul>
					</li>
				</ol>
				
			</div>
		</section>
	</article>
	<!-- //container -->
	<hr />

	<th:block th:replace="~{jewelry_include/footer_public_1::footer}"></div>

</div>
</body>
</html>