<!DOCTYPE html>
<html lang="ko">
<head>
	<title>이용약관 - PUBLIC ACTION</title>
<th:block th:replace="~{jewelry_include/script_public_1::head}"></th:block>
<th:block th:replace="~{jewelry_include/script_custom_js_css::custom_js_css}"></th:block>
</head>

<body>
<div id="skipnavi">
	<a href="#gnb">주메뉴 바로가기</a>
	<a href="#contents">본문 바로가기</a>
</div>

<div class="wrap">
	<header id="header">
		<h1 class="logo"><a href="/">AUTOMART</a></h1>
<th:block th:replace="~{jewelry_include/nav_public_1::nav}"></th:block>
		<div id="gnb_bg"></div>
	</header>
	<!-- //header -->
	<hr />

	<article id="container" class="container">
<th:block th:replace="~{jewelry_include/nav_location_public_1::navlocation_onedepth}"></th:block>

		<section id="contents" class="contents">

			<h3 class="tit_ty1">이용약관</h3>
			<h4 class="tit_ty4">이용약관</h4>
			<div class="data_box2" style="height:543px;">
				<p>제1장 총칙</p>
				<p>제1조 목적</p>
				<p>이 약관은 퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 
				있어 사이버 몰과 이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 
				서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리·의무 및 책임사항을 규이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)
				이 약관은 퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 
				있어 사이버 몰과 이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 
				서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리·의무 및 책임사항을 규이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)</p>
				<p>제1조 목적</p>
				<p>이 약관은 퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 
				있어 사이버 몰과 이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 
				서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리·의무 및 책임사항을 규이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)
				이 약관은 퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 
				있어 사이버 몰과 이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 
				서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리·의무 및 책임사항을 규이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)</p>
				<p>제1조 목적</p>
				<p>이 약관은 퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 
				있어 사이버 몰과 이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 
				서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리·의무 및 책임사항을 규이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)
				이 약관은 퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 서비스(이하 "서비스"라 한다)를 이용함에 
				있어 사이버 몰과 이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)가 운영하는 인터넷 사이버 몰(이하 "몰" 이라 한다)에서 제공하는 인터넷 관련 
				서비스(이하 "서비스"라 한다)를 이용함에 있어 사이버 몰과 이용자의 권리·의무 및 책임사항을 규이용자의 권리·의무 및 책임사항을퍼블릭옥션(전자거래 사업자)</p>
			</div>
		</section>
	</article>
	<!-- //container -->
	<hr />

	<th:block th:replace="~{jewelry_include/footer_public_1::footer}"></div>

</div>
</body>
</html>