<!DOCTYPE html>
<html lang="ko">
<head>
	<title>공매물건조회 상세 - PUBLIC ACTION</title>
	<th:block th:replace="~{jewelry_include/script_public_1::head}"></th:block>
	<th:block th:replace="~{jewelry_include/script_custom_js_css::custom_js_css}"></th:block>
	<script>
		const mbId = "[[${mbId != null}]]" ? "[[${mbId}]]" : '';
	</script>
</head>

<body>
<div id="skipnavi">
	<a href="#gnb">주메뉴 바로가기</a>
	<a href="#contents">본문 바로가기</a>
</div>

<div class="wrap">
	<header id="header">
		<h1 class="logo"><a href="/">AUTOMART</a></h1>
<th:block th:replace="~{jewelry_include/nav_public_1::nav}"></th:block>
		<div id="gnb_bg"></div>
	</header>
	<!-- //header -->
	<hr />

	<article id="container" class="container">
<th:block th:replace="~{jewelry_include/nav_location_public_1::navlocation}"></th:block>

		<section id="contents" class="contents">
			<div class="detial_box">
				<div class="detial_img">
					<ul>
						<li>
							<!--<a href="#" class="simg"><img src="../../images/temp/2020-1_001_01_t.jpg" alt="" width="82" height="78" /></a>-->
							<a href="#" class="simg"><img th:src="@{/jewelry/images/temp/2020-1_001_01_t.jpg}" alt="" width="82" height="78" /></a>
							<div class="effectPic" >
								<!--<span><img src="../../images/temp/2020-1_001_01.jpg" alt="" width="450" /></span>-->
								<span><img th:src="@{/jewelry/images/temp/2020-1_001_01.jpg}" alt="" width="450" /></span>
							</div>
						</li>
						<li>
							<!--<a href="#" class="simg"><img src="../../images/temp/2020-1_001_02_t.jpg" alt="" width="82" height="78" /></a>-->
							<a href="#" class="simg"><img th:src="@{/jewelry/images/temp/2020-1_001_02_t.jpg}" alt="" width="82" height="78" /></a>
							<div class="effectPic" >
								<!--<span><img src="../../images/temp/2020-1_001_02.jpg" alt="" width="458" height="468"/></span>-->
								<span><img th:src="@{/jewelry/images/temp/2020-1_001_02.jpg}" alt="" width="458" height="468"/></span>
							</div>
						</li>
						<li>
							<!--<a href="#" class="simg"><img src="../../images/temp/2020-1_001_03_t.jpg" alt="" width="82" height="78" /></a>-->
							<a href="#" class="simg"><img th:src="@{/jewelry/images/temp/2020-1_001_03_t.jpg}" alt="" width="82" height="78" /></a>
							<div class="effectPic" >
								<!--<span><img src="../../images/temp/2020-1_001_03.jpg" alt="" width="458" height="468"/></span>-->
								<span><img th:src="@{/jewelry/images/temp/2020-1_001_03.jpg}" alt="" width="458" height="468"/></span>
							</div>
						</li>
						<li>
							<!--<a href="#" class="simg"><img src="../../images/temp/2020-1_001_04_t.jpg" alt="" width="82" height="78" /></a>-->
							<a href="#" class="simg"><img th:src="@{/jewelry/images/temp/2020-1_001_04_t.jpg}" alt="" width="82" height="78" /></a>
							<div class="effectPic" >
								<!--<span><img src="../../images/temp/2020-1_001_04.jpg" alt="" width="458" height="468"/></span>-->
								<span><img th:src="@{/jewelry/images/temp/2020-1_001_04.jpg}"  alt="" width="458" height="468"/></span>
							</div>
						</li>
						<li>
							<!--<a href="#" class="simg"><img src="../../images/temp/2020-1_001_05_t.jpg" alt="" width="82" height="78" /></a>-->
							<a href="#" class="simg"><img th:src="@{/jewelry/images/temp/2020-1_001_05_t.jpg}" alt="" width="82" height="78" /></a>
							<div class="effectPic" >
								<!--<span><img src="../../images/temp/2020-1_001_05.jpg" alt=""  width="458" height="468"/></span>-->
								<span><img th:src="@{/jewelry/images/temp/2020-1_001_05.jpg}"  width="458" height="468"/></span>
							</div>
						</li>
					</ul>

					<p class="txt_customer">고객센터(평일 09:00~18:00) <strong>1811-8949</strong></p>

				</div>
				<div class="detial_data">
					<h3 class="tit_ty2">
						<span th:text="${'[' + getPaItemDetail[0].placeNm + '] ' + getPaItemDetail[0].pblNumber}">[시흥시청] 2017-201 </span>
						<div th:text="${getPaItemDetail[0].itemNm}">페라가모 가방</div>
					</h3>
					<p class="price">
						<strong>매각예정가</strong>
						<span th:text="${#numbers.formatInteger(getPaItemDetail[0].salePrice, 3, 'COMMA')}">7,000,000</span> 원
					</p>
					<p class="time">
						<th:block th:if="${#temporals.format(getPaItemDetail[0].bidEndDt, 'yyyy-MM-dd') == #temporals.format(T(java.time.LocalDateTime).now(), 'yyyy-MM-dd')}">
						<span th:text="'금일마감 ' + ${#temporals.format(getPaItemDetail[0].bidEndDt, 'yyyy-MM-dd HH:mm')}">2025-04-14 14:00</span>
						</th:block>
					</p>
					<!--<p class="time"><span> 금일마감 2017-09-11 00:00</span></p>-->
					<dl class="data_list">
						<dt>진행기관</dt>
						<dd th:text="${getPaItemDetail[0].placeNm}">시흥시</dd>
						<dt>공고번호 </dt>
						<dd>2017-201</dd>
						<dt class="folder"><a href="#">공매일정</a></dt>
						<dd class="list on">
							<ul>
								<li>
									<strong>입찰신청기간</strong>
									<span th:text="${#temporals.format(getPaItemDetail[0].bidStartDt, 'yyyy.MM.dd')} + ' ~ '
									 + ${#temporals.format(getPaItemDetail[0].bidEndDt, 'yyyy.MM.dd')}">2017.09.11 ~ 2017.09.11</span></li>
								<li>
									<strong>입찰마감일</strong>
									<span th:text="${#temporals.format(getPaItemDetail[0].bidEndDt, 'yyyy.MM.dd HH:mm')}">2017.09.11 14:00</span>
								</li>
								<li>
									<strong>매각결정일</strong>
									<span th:text="${#temporals.format(getPaItemDetail[0].fixingDt, 'yyyy.MM.dd HH:mm')}">2017.09.13 14:00</span>
								</li>
							</ul>
						</dd>
<!--
						<dt class="folder"><a href="#">유의사항</a></dt>
						<dd class="list">유의사항내용</dd>
						<dt class="folder"><a href="#">감정서 요약</a></dt>
						<dd class="list">유의사항내용</dd>
						<dt>보관소</dt>
						<dd>경기도 시흥시청</dd>
-->
					</dl>
<!--
					<div class="down_box">
						<a href="#"><img src="../../images/common/ico_pdf.gif" alt="pdf"/> 공고문</a>
					</div>
-->
					<div class="btn_box">
						<button type="button" class="btn_ty4 mr12 do_bid_btn"
								th:attr="data-pblno=${getPaItemDetail[0].pblNo}">즉시입찰</button>
						<button type="button" class="btn_ty4 mr12 btn_add_wish">관심등록</button>
						<button type="button" class="btn_ty6 btn_paitemsearch">목록</button>
					</div>
				</div>
			</div>
			<ul class="nav nav-tabs detail_tab_4">
				<li class="active"><a href="#tab-1" data-toggle="tab">상세정보</a></li>
				<li><a href="#tab-2" data-toggle="tab">공고안내</a></li>
				<li><a href="#tab-3" data-toggle="tab">감정서</a></li>
				<li><a href="#tab-4" data-toggle="tab">유의사항</a></li>
			</ul>
			<div id="myTabContent" class="tab-content">
				<!-- tab-1 -->
				<div class="tab-pane fade active in pop_cnt" id="tab-1">
					<h4 class="skip">상세정보</h4>
					<div class="detail_box">
						<div class="flat_left w_50">
							<h5>기본정보</h5>
							<ul class="list_ty3">
							<!--
								<li><strong>진행기관</strong> 시흥시청</li>
								<li><strong>공고번호</strong> 2017-201</li>
								<li><strong>카테고리(종류)</strong> 귀금속(금)</li>
								<li><strong>물품명</strong> 금 18K 2g</li>
								<li><strong>예정가</strong> 200,000원</li>
							-->
								<li><strong>진행기관</strong>
									<span th:text="${getPaItemDetail[0].placeNm}">시흥시청</span></li>
								<li><strong>공고번호</strong>
									<span th:text="${getPaItemDetail[0].pblNumber}">2017-201</span></li>
								<li><strong>카테고리(종류)</strong>
									<span th:text="${getPaItemDetail[0].categoryNm1}">귀금속(금)</span></li>
								<li><strong>물품명</strong>
									<span th:text="${getPaItemDetail[0].itemNm}">금 18K 2g</span></li>
								<li><strong>예정가</strong>
									<span th:text="${#numbers.formatInteger(getPaItemDetail[0].salePrice, 3, 'COMMA') + '원'}">200,000원</span></li>
							</ul>
						</div>
						<div class="flat_left w_50">
							<h5>일정안내</h5>
							<ul class="list_ty3">
								<li><strong>입 찰 기 간</strong>
									<span th:text="${#temporals.format(getPaItemDetail[0].bidStartDt, 'yyyy.MM.dd')} + ' ~ '
									 + ${#temporals.format(getPaItemDetail[0].bidEndDt, 'yyyy.MM.dd')}">2017.08.12 ~ 2017.08.12</span></li>
								<li><strong>공 매 마 감</strong>
									<span th:text="${#temporals.format(getPaItemDetail[0].bidEndDt, 'yyyy.MM.dd HH:mm')}">2017.08.10 12:00</span></li>
								<li><strong>매 각 결 정</strong>
									<span th:text="${#temporals.format(getPaItemDetail[0].fixingDt, 'yyyy.MM.dd HH:mm')}">2017.08.12 14:00</span></li>
								<li><strong>보 관 장 소</strong> 오토마트 인천보관소</li>
								<li><strong>물 품 확 인</strong> 동산물건 특성상 현장 확인이 불가합니다.</li>
							</ul>
						</div>
					</div>

					<div class="txt_center mt100">

						<span><img th:src="@{/jewelry/images/temp/2020-1_001_01.jpg}" width="450" alt="" /></span>
						<span><img th:src="@{/jewelry/images/temp/2020-1_001_02.jpg}" width="450" alt="" /></span>
						<span><img th:src="@{/jewelry/images/temp/2020-1_001_03.jpg}" width="450" alt="" /></span>
						<span><img th:src="@{/jewelry/images/temp/2020-1_001_04.jpg}" width="450" alt="" /></span>
						<span><img th:src="@{/jewelry/images/temp/2020-1_001_05.jpg}" width="450" alt="" /></span>
						<span><img th:src="@{/jewelry/images/temp/2020-1_001_06.jpg}" width="450" alt="" /></span>

						<!--<span><img src="../../images/temp/2020-1_001_01.jpg" width="450" alt="" /></span>
						<span><img src="../../images/temp/2020-1_001_02.jpg" width="450" alt="" /></span>
						<span><img src="../../images/temp/2020-1_001_03.jpg" width="450" alt="" /></span>
						<span><img src="../../images/temp/2020-1_001_04.jpg" width="450" alt="" /></span>
						<span><img src="../../images/temp/2020-1_001_05.jpg" width="450" alt="" /></span>
						<span><img src="../../images/temp/2020-1_001_06.jpg" width="450" alt="" /></span>-->

					</div>

				</div>

				<!-- tab-2 -->
				<div class="tab-pane fade pop_cnt" id="tab-2">
					<h4 class="skip">공고안내</h4>
					<div class="detail_box">
						<div class="flat_left w_100p">
							<h5>공고내용</h5>
							<ul class="list_ty3">
								<li><strong></strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
							</ul>
						</div>
					</div>
				</div>
				<!-- tab-3 -->
				<div class="tab-pane fade pop_cnt" id="tab-3">
					<h4 class="skip">감정서</h4>
					<div class="detail_box">
						<div class="flat_left w_100p">
							<h5>감정서</h5>
							<ul class="list_ty3">
								<li><strong>중간에 들어갈 이미지</strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
							</ul>
						</div>
					</div>
<!--
					<div class="txt_center mt35">
						중간에 들어갈 이미지
					</div>
-->
				</div>
				<!-- tab-4 -->
				<div class="tab-pane fade pop_cnt" id="tab-4">
					<h4 class="skip">유의사항</h4>
					<div class="detail_box">
						<div class="flat_left w_100p">
							<h5>유의사항</h5>
							<ul class="list_ty3">
								<li><strong>유의사항</strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
								<li><strong></strong> </li>
							</ul>
						</div>
					</div>
<!--
					<div class="pl30">
						<h4 class="skip">유의사항</h4>
						<h5 class="tit_ty7">타이틀이 들어갑니다.</h5>
						<ul class="list_ty3">
							<li><strong>유의사항</strong> 2017.08.12 ~ 2017.08.12	</li>
							<li><strong>물품확인기간</strong> 2017.08.12 ~ 2017.08.12</li>
							<li><strong>매각개찰일</strong> 2017.08.10 12:00</li>
							<li><strong>매각결정일</strong> 2017.08.12 155:00</li>
							<li><strong>보관장소</strong> 시흥시 정왕동</li>
						</ul>
					</div>
-->
				</div>
			</div>
		</section>
	</article>
	<!-- //container -->
	<hr />

	<th:block th:replace="~{jewelry_include/footer_public_1::footer}"></div>

</div>
</body>
</html>