<!DOCTYPE html>
<html lang="ko">
<head>
	<title>main  지방세 체납공매 입찰</title>
	<meta charset="utf-8"/>
	<meta name="description" content="PUBLIC ACTION" />
	<meta name="keywords" content="PUBLIC ACTION" />
	<meta name="author" content="PUBLIC ACTION" />

	<link type="text/css" rel="stylesheet" href="../../css/bootstrap.min.css" />
	<link type="text/css" rel="stylesheet" href="../../css/select2.min.css" />
	<link type="text/css" rel="stylesheet" href="../../css/common_font.css?ver=1" />
	<link type="text/css" rel="stylesheet" href="../../css/common.css?ver=22">
	<link type="text/css" rel="stylesheet" href="../../css/contents_main.css?ver=21">

	<script type="text/javascript" src="../../js/jquery.min.js"></script>
	<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../../js/jquery.form.js"></script>
	<script type="text/javascript" src="../../js/select2.min.js"></script>
	<script type="text/javascript" src="../../js/ui.js"></script>
    <script type="text/javascript" src="../../js/common.js?v=102"></script>
	<!-- select -->
	<script type="text/javascript">
		$(document).ready(function() {
			$(".select2").select2();
		});
	</script>
</head>

<body>
<div id="skipnavi">
	<a href="#gnb">주메뉴 바로가기</a>
	<a href="#contents">본문 바로가기</a>
</div>

<div class="wrap">
	<header id="header">
		<h1 class="logo"><a href="#">AUTOMART</a></h1>
		<div class="util">
<!--
			<ul>
				<li class="name"><strong>홍길동</strong>님 로그인 중입니다.</li>
				<li><a href="#">관심등록물건</a></li>
				<li><a href="#">로그아웃</a></li>
			</ul>
-->
			<ul>
				<li><a href="#">로그인</a></li>
				<li><a href="#">기관로그인</a></li>
				<li><a href="#">회원가입</a></li>
			</ul>
		</div>
		<nav id="gnb">
			<h2 class="hidden">주메뉴</h2>
			<ul class="depth1">
				<li class="on"><a href="#">공매공고</a></li>
				<li><a href="#">공매물건</a>
					<div class="submenu">
						<ul>
							<li><a href="/">진행물건검색</a></li>
							<li><a href="/">매각결과검색</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">MY PAGE</a>
					<div class="submenu">
						<ul>
							<li><a href="/">회원정보수정</a></li>
							<li><a href="/">나의입찰내역</a></li>
							<li><a href="/">관심등록물건</a></li>
						</ul>
					</div>
				</li>
				<li><a href="#">고객센터</a>
					<div class="submenu">
						<ul>
							<li><a href="/">공지사항</a></li>
							<li><a href="/">공매절차</a></li>
							<li><a href="/">FAQ</a></li>
						</ul>
					</div>
				</li>
			</ul>
			<div class="link">
				<p><strong>유체동산공매</strong>다양한 공매물건을<br/>편리하게 입찰할 수 있습니다.</p>
			</div>
		</nav>
		<div id="gnb_bg"></div>
	</header>
	<!-- //header -->
	<hr />

	<article id="container" class="main_container">
		<div class="main_visual">
			<div class="visual_in">
				<p class="tit"><strong>동산공매<span> 압류물건공매 </span> </strong> 
					지방세 체납 동산 공매 </p>
				<p> 지방세 체납자의 압류 동산(귀금속, 명품, 기타 동산 등)을 <br/>
					인터넷 공매 시스템을 통해 편리하고 공정하게 공개 매각하는 <br/>
					시스템입니다. </p>
			</div>
		</div>
		<h3 class="hidden">공매물건</h3>
		<div class="link_box">
			<ul>
				<li class="m1">
					<a href="#">
						<strong><span>시계/가방</span> 공매물건</strong>
						<span class="num"> 진행 50  /  마감 0</span>
						<span class="go">바로가기</span>
					</a>
				</li>
				<li class="m2">
					<a href="#">
						<strong><span>귀금속</span> 공매물건</strong>
						<span class="num"> 진행 50  /  마감 0</span>
						<span class="go">바로가기</span>
					</a>
				</li>
				<li class="m3">
					<a href="#">
						<strong><span>기타</span> 공매물건</strong>
						<span class="num"> 진행 50  /  마감 0</span>
						<span class="go">바로가기</span>
					</a>
				</li>
			</ul>
		</div>

		<section id="contents" class="main_contents">
			<div class="notice_wrap">
				<h3 class="tit_mty1">공매 공고 정보</h3>
				<div class="notice_box">
					<div class="box m1">
						<h4>입찰공고일정</h4>
						<ul class="list">
							<li><span> [ 체납동산 공매일정 ] </span>
							</li>
							<li><span> 입찰시작 : 2020-10-19 09:00 </span>
								<br /><span> 입찰마감 : 2020-10-21 18:00 </span>
								<br /><span> 매각발표 : 2020-10-23 14:00 </span>
								<br /><span> 수납마감 : 2020-10-28 18:00 </span>
								<br />
								<br /><span> 물품 수령 : 공고 내용 참조 </span>
							</li>
						</ul>
					</div>
					<div class="box m2">
						<h4>공매진행절차</h4>
						<ul>
							<li><a href="#">공매절차 </a></li>
							<li><a href="#">잔금수납방법</a></li>
						</ul>
					</div>
<!--
					<div class="box m3">
						<h4>입찰진행</h4>
						<div class="goods">
							<a href="#">
								<span><img src="../../images/temp/goods_1.jpg" alt="" /></span>
								[명품] 샤넬가방 25421
							</a>
						</div>
					</div>
					<div class="box m4">
						<h4>공지사항</h4>
						<ul class="list">
							<li><a href="#">[입찰안내] 시흥시청 입찰공고 내용의 제목이 들어갑니다. </a><span>2017-07-10</span></li>
							<li><a href="#">[입찰안내] 시흥시청 입찰공고 내용의 제목이 들어갑니다. </a><span>2017-07-10</span></li>
						</ul>
					</div>
-->
				</div>
			</div>
		</section>
	</article>


	<!-- //container -->
	<hr />

	<footer id="footer">
		<nav class="footer_menu">
			<h2 class="hidden">하단 메뉴</h2>
			<ul>
				<li><a href="#">이용약관</a></li>
				<li><a href="#">회사소개</a></li>
				<li><a href="#">개인정보처리방침</a></li>
<!--
				<li><a href="#">찾아오시는길</a></li>
-->
			</ul>
		</nav>
		<div class="footer_bottom">
<!--
			<div class="logo">Pulic Auction</div>
			<address>(08513) 서울특별시 금천구 벚꽃로 234, 313호(가산동, 에이스하이엔드타워6차) 대표전화: 02)6299-5476</address>
			<p class="copyright">Copyright ⓒ 2017 AutoMart Co.ltd,. All Rights Reserved.</p>
			<div class="logo">경기도청</div>
			<address>(16444) 수원시 팔달구 효원로 1 (매산로3가) / 북부청사 11780 의정부시 청사로 1 / 경기도 콜센터 031-120 </address>
			<p class="copyright">© GYEONGGI PROVINCE All Rights Reserved.</p>
-->
			<div class="logo">PUBLIC ACTION</div>
			<address>(08513) 서울특별시 금천구 벚꽃로 234, 313호(가산동, 에이스하이엔드타워6차) 대표전화: 1811-8949</address>
			<p class="copyright">Copyright ⓒ 2017 AutoMart Co.ltd,. All Rights Reserved.</p>
		</div>
	</footer>
</div>
</body>
</html>