

<th:block th:fragment="searchpanel">
	
	<!-- Panel Form Type 1 -->
	<div class="box box-default search-panel">
		<div class="box-header with-border">
			<h3 class="box-title">검색</h3>
	
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	<!--			
				<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
	-->
			</div>
		</div>
		<!-- /.box-header -->
		<div class="box-body">
			<div class="row" >
				
					<div th:replace="~{include/panel_search_item::searchpanelItems}"></div>
				
			</div>
			<!-- /.row -->
			
			
		</div>
		<!-- /.box-body -->
	</div>
	<!-- /.box -->

</th:block>>