
		
	<footer id="footer" th:fragment="footer">
		<nav class="footer_menu">
			<h2 class="hidden">하단 메뉴</h2>
			<ul>
				<li><a href="/tos">이용약관</a></li>
				<li><a href="/company">회사소개</a></li>
				<li><a href="/privacypolicy">개인정보처리방침</a></li>
<!--
				<li><a href="#">찾아오시는길</a></li>
-->
			</ul>
		</nav>
		<div class="footer_bottom">
			<div class="logo">PUBLIC ACTION</div>
			<address>(08513) 서울특별시 금천구 벚꽃로 234, 313호(가산동, 에이스하이엔드타워6차) 대표전화: 1811-8949</address>
			<p class="copyright">Copyright ⓒ 2017 AutoMart Co.ltd,. All Rights Reserved.</p>
		</div>
	</footer>
		