<!DOCTYPE html>
<html>

<div th:replace="~{include/script_public_2::head}"></div>
<head>
	<script src="/js/content/account/login.js"></script>
	<link rel="stylesheet" href="/css/content/account/login.css">	
</head>


<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		
		<!-- Top Header -->
		<div th:replace="~{include/header_top_1::header}"></div>
		
		<!-- Left Menu -->
		<div th:replace="~{include/left_menu_1::aside}"></div>
		
		
		
		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Error Page
				</h1>
				
<!--				
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
					<li><a href="#">Examples</a></li>
					<li class="active">404 error</li>
				</ol>
-->				
				
			</section>
			
			<!-- Main content -->
			<section class="content">
				<div class="error-page">
<!--					
					<h2 class="headline text-yellow"> Sorry</h2>
-->			
					<div class="error-content">
						<h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>
			
						<p>
							We could not find the page you were looking for.
							Meanwhile, you may <a href="/">return to Home</a>.
						</p>
					</div>
					<!-- /.error-content -->
				</div>
				<!-- /.error-page -->
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		
		
		
		
		<div th:replace="~{include/footer_public_1::footer}"></div>
		
		
		
	</div>
<!-- ./wrapper -->


</body>
</html>
