<!DOCTYPE html>
<html lang="ko">
<head>
	<title>나의 입찰내역 상세 - PUBLIC ACTION</title>
<th:block th:replace="~{jewelry_include/script_public_1::head}"></th:block>
<th:block th:replace="~{jewelry_include/script_custom_js_css::custom_js_css}"></th:block>
</head>

<body>
<div id="skipnavi">
	<a href="#gnb">주메뉴 바로가기</a>
	<a href="#contents">본문 바로가기</a>
</div>

<div class="wrap">
	<header id="header">
		<h1 class="logo"><a href="/">AUTOMART</a></h1>
<th:block th:replace="~{jewelry_include/nav_public_1::nav}"></th:block>
		<div id="gnb_bg"></div>
	</header>
	<!-- //header -->
	<hr />

	<article id="container" class="container">
<th:block th:replace="~{jewelry_include/nav_location_public_1::navlocation}"></th:block>

		<section id="contents" class="contents">
<!--
			<h3 class="tit_ty1">공매입찰 신청정보</h3>
			<p class="txt_right2">현재일자 : 2020년08월20일17시40분56초</p>
			<ul class="data_list2">
				<li><strong>입찰자 : </strong> 홍길동 </li>
				<li><strong>연락처 : </strong> 010-xxxx-5678 </li>
			</ul>
				<h3 class="tit_ty3">공매입찰 신청정보</h3>
				<p class="txt_right2">현재일자 : 2020년 08월 20일 17시 40분 56초</p>
				<ul class="data_list2">
					<li><strong>입찰자 : </strong> 홍길동 </li>
					<li><strong>연락처 : </strong> 010-xxxx-5678 </li>
				</ul>

-->

			<div class="data_box">

				<h3 class="tit_ty41">공매입찰 정보내역 </h3>
				<div class="data_box21" style="height:85px;">
					<p><strong class="txt_must">*</strong>은행 업무외 시간 및 은행 사정등에 의한 미입금은 입찰자의 책임입니다.</p>
					<p><strong class="txt_must">*</strong>내역서의 정보가 맞는지 반드시 확인하기 바랍니다. 본인이 확인하지 않은 내용에 대해서는 입찰자의 책임입니다. </p>
				</div>

				<h3 class="tit_ty3">입찰신청자 정보</h3>
				<p class="txt_right2" id="currentTime">현재일자 : 2020년 08월 20일 17시 40분 56초</p>
				<table class="tbl_data8">
					<caption>공매입찰 신청정보에 대한 입찰 정보를 나타낸 표</caption>
					<colgroup>
						<col style="width:25%">
						<col style="width:75%">
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">입찰자 (연락처)</th>
							<td th:if="${not #lists.isEmpty(getMyInfo) and getMyInfo[0].phone != null and getMyInfo[0].phone.length() == 11}"
								th:text="${getMyInfo[0].name + ' ('
									+ getMyInfo[0].phone.substring(0,3) + '-'
									+ getMyInfo[0].phone.substring(3,7) + '-'
									+ getMyInfo[0].phone.substring(7,11) + ')'}"> 홍길동 (010-xxxx-5678) </td>
							<td th:unless="${not #lists.isEmpty(getMyInfo) and getMyInfo[0].phone != null and getMyInfo[0].phone.length() == 11}">
								이름 또는 전화번호 정보가 없습니다.
							</td>
							<!--<td> 홍길동 (010-xxxx-5678) </td>-->
						</tr>
<!--
						<tr>
							<th scope="row">연락처 </th>
							<td>010-xxxx-5678</td>
						</tr>
-->
						<tr>
							<th scope="row">주소 </th>
							<td th:if="${not #lists.isEmpty(getMyInfo) and getMyInfo[0].addr != null}"
								th:text="${getMyInfo[0].addr + ' ' + getMyInfo[0].addrDetail}">서울특별시 금천구 벚꽃로234 </td>
						</tr>
						<tr>
							<th scope="row">환불계좌 </th>
							<td th:if="${getMyBidDetail[0].depositor != ''}"
								th:text="${getMyBidDetail[0].refundBankCd + ' ('
										+ getMyBidDetail[0].refundAccount + ') 예금주명 : '
										 + getMyBidDetail[0].depositor + ' (유찰자는 매각결정일에 환불)'}"></td>
							<td th:unless="${getMyBidDetail[0].depositor != ''}">
								입찰신청 페이지에서 환불계좌 정보를 입력하고 입찰 버튼을 클릭해주세요. </td>
							<!--<td>신한은행 ( 111-2222-22-22 ) / 예금주명: 홍길동 (유찰자는 매각결정일에 환불) </td>-->
						</tr>
					</tbody>
				</table>

				<h3 class="tit_ty3">공매보증금 납부계좌 </h3>
<!--<span class="txt_right2">(수수료 선부과 - 하단의 부연설명 참조) </span>-->			
				<table class="tbl_data8" width="100%">
					<colgroup>
						<col style="width:25%">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">보증금 계좌 / 금액 </th>
							<td colspan=3
								th:text="${'신한은행 ( 111-2222-22-22 ) 예금주: 공매홍길동(오토마트) 금액: ' + getMyBidDetail[0].totalBidDeposit +'원'}"></td>
							<!--<td colspan=3>신한은행 ( 111-2222-22-22 ) 예금주: 공매홍길동(오토마트) 금액: 401,000원</td>-->
<!--	계좌 추가될 경우에 계속 추가.. -->
						</tr>
						<tr>
							<th scope="row">납부 기한 </th>
							<td colspan=3>입찰신청 마감시간 이내</td>
						</tr>
					</tbody>
				</table>
				</table>

				<h3 class="tit_ty3">공매 공고 정보</h3>
				<table class="tbl_data8" width="100%">
					<caption>공매입찰 신청정보에 대한 입찰 정보를 나타낸 표</caption>
					<colgroup>
						<col style="width:25%">
						<col>
					</colgroup>
					<tbody>
						<tr>
							<th scope="row">진행기관 (공고)</th>
							<td th:text="${getMyBidDetail[0].placeNm + ' (' + getMyBidDetail[0].pblNumber + ')'}"></td>
							<!--<td> 시흥시 (2025-1) </td>-->
						</tr>
						<tr>
							<th scope="row">매각결과발표 </th>
							<td th:text="${#temporals.format(getMyBidDetail[0].fixingResultDt, 'yyyy-MM-dd HH:mm')
										+ ' 이후 (휴일인 경우 익일 발표)'}"></td>
							<!--<td>2025-12-30 14:00 이후 (휴일인 경우 익일 발표) </td>-->
						</tr>
					</tbody>
				</table>

				<h3 class="tit_ty3">공매입찰 물건정보</h3>
				<table class="tbl_data2" width="100%">
					<caption>공매입찰 정보에 대한 번호별, 물품명 (물품코드), 입찰신청일 (입찰등록시간), 입찰금액을 나타낸 표</caption>
					<colgroup>
						<col style="width:8%">
						<col>
						<col style="width:18%">
						<col style="width:15%">
						<col style="width:15%">
						<col style="width:15%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">No</th>
							<th scope="col">물품명 (물품코드)</th>
							<th scope="col">입찰신청일</th>
							<th scope="col">매각예정가</th>
							<th scope="col">공매보증금</th>
							<th scope="col">입찰금액</th>
						</tr>
					</thead>
					<tbody>
						<!--
						<tr>
							<td>1</td>
							<td>금14k</td>
							<td>2024.01.01 12:15:00</td>
							<td>200,000원</td>
							<td>20,500원</td>
							<td>270,000원</td>
						</tr>
						-->
					<th:block th:each="item , itemstatus : ${getMyBidDetail}">
						<tr>
							<td th:text="${itemstatus.index + 1}">1</td>
							<td th:text="${item.itemNm}">1</td>
							<td th:text="${#temporals.format(item.bidStartDt, 'yyyy-MM-dd HH:mm')}">1</td>
							<td th:text="${#numbers.formatInteger(item.salePrice, 3, 'COMMA') + '원'}">1</td>
							<td th:text="${#numbers.formatInteger((item.salePrice/10), 3, 'COMMA') + '원'}">1</td>
							<td th:text="${#numbers.formatInteger(item.bid, 3, 'COMMA') + '원'}">1</td>
						</tr>
					</th:block>
					</tbody>
				</table>
<!--
				<h3 class="tit_ty3">공매보증금 및 입찰금액 합계 정보</h3>
				<table class="tbl_data3">
					<caption>공매보증금 및 입찰금액 합계 정보에 대한 입찰보증금 합계,입금할 보증금 합계, 입찰금액 합계을 나타낸 표</caption>
					<colgroup>
						<col style="width:30%">
						<col style="width:38%">
						<col style="width:32%">
					</colgroup>
					<thead>
						<tr>
							<th scope="col">입찰보증금 합계</th>
							<th scope="col">입금할 보증금 합계</th>
							<th scope="col">입찰금액 합계</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="txt_right">120,000원</td>
							<td class="txt_right">120,000원</td>
							<td class="txt_right">120,000원</td>
						</tr>
					</tbody>
				</table>
-->
			</div>
			<ul class="list_ty2 mt10 pl40">
				<li>- 은행 업무시간외 또는 은행 사정등에 의한 미입금은 입찰자의 책임으로 인정되지 않습니다. </li>
				<li>- <span class='col_red'>수수료 선부과 내역 : 가상계좌의 발급 및 기타 자동 처리 서비스 수수료(500원) + 유찰시 보증금 반환을 위한 타행이체 수수료(500원)</span></li>
				<li>&nbsp;&nbsp; ( 단, 가상계좌 은행과 환불 은행이 같은 은행인 경우에는 타행이체 수수료가 제외됩니다. 만약 보류될 경우에 수수료도 환불됩니다. )</li>
				<li>- 본 내역서는 입찰참여를 확인하는 증빙자료로 사용되므로 입찰완료시 입찰자는 출력 또는 화면 촬영 등을 통해서 보관하시기 바랍니다.</li>
<!--
				<li>-  </li>
-->
			</ul>

			<div class="btn_center"><button type="button" class="btn_ty4">인쇄하기</button></div>

		</section>
	</article>
	<!-- //container -->
	<hr />

	<th:block th:replace="~{jewelry_include/footer_public_1::footer}"></div>

</div>
</body>
</html>